body{
    font-family: 'Roboto', sans-serif;
}
.row{
    width: 100%;
    padding: unset;
    margin: unset;
}
* {
    box-sizing: border-box;
}
.fas, .far, .fab{
    color: black;
}
#orange{
    color: #f89d13;
}
.container .row ul li .nav-link i{
    font-size: 14px;
}
.bg-white{
    margin-top: -15px;
    padding: unset;
}
#linc{
    font-size: 13.5px;
    margin-left: 10px;
}
.container .navbar{
    padding-left: 0;
    padding-right: 0;
}
.container .navbar a{
    font-size: 17px;
    margin-right: 13px;
}
#logo{
    font-size: 20px;
    color: black;
    padding-left: 10px;
}
.container .navbar .navbar-brand span{
    color: red;
    font-size: 30px;
    font-weight: bold;
}
hr{
    margin-top: 5px;
}
.nav-link{
    color: black;
    padding-bottom: unset;
    padding-top: unset;
}
.nav-link:hover{
    color: #e68a00;
}
.mySlides {
    position: relative;
    width: 100%;
    height: 600px;
}
.mySlides img{
    position: relative;
    width: 100%;
    height: 100%;

}
.next {
    position: relative;
    left: 90%;
    border-radius: 3px 0 0 3px;
}
.prev
{
    left: 2%;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px 17px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: unset;
    background-color: rgba(0, 0, 0, 0.3);
}
.fa-arrow-left:before, .fa-arrow-right:before{
    color: white;
}
.prev{
    left: 1%;
}
.next{
    left: 95%;
}
.mySlides .Tspecifications{
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: white;
    color: black;
    height: 38%;
    width: 49%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
    font-family: 'Nanum Gothic', sans-serif;
}
.mySlides .Tspecifications div{
    width: 100%;
    justify-content: left;
}
.Tlocation{
    font-size: 15px;
    color: gray;
}
.Tlocation i{
    font-size: 12px;
    color: gray;
}
.Tprice{
    font-family: 'Roboto', sans-serif;
    color: #7cbd1e;
}
.Tspecifications a{
    font-size: 14px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.Tspecifications a:hover{
    color: #e68a00;
    font-family: 'Nanum Gothic', sans-serif;
}
.container .row select{
    color: gray;
    background-color: white;
    width: 245px;
    height: 45px;
    margin: 30px 15px 20px 15px;
    margin-bottom: unset;
    border-radius: unset;
    border-color: lightgray;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    outline: none;
}
.container .row select:focus{
    border: 1px solid darkorange;
}
.container .row form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}
button[type=submit]
{
    width: 245px;
    height: 45px;
    margin: 30px 15px 20px 15px;
    margin-bottom: unset;
    border-radius: unset;
    padding-bottom: 0;
    background-color: orange;
    border-color: orange;
    color: white;
}
button[type=submit]:hover{
    background-color: #e68a00;
    border-color: #e68a00;
    color: white;
}
.price-slider{
    width: 245px;
    height: 45px;
    margin: 30px 15px 20px 15px;
    margin-top: 25px;
    margin-bottom: unset;
    text-align: center;
}
#slider{
    height: 9px;
}
.descritpion{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 17px;
}
.descritpion div{
    size: 45px;
}
.dropdown-menu button{
    margin: unset;!important;
}
.description1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px 50px 10px;
}
.description1 .card{
    border: unset;
    padding-left: unset;
}
.description1 .card-body{
    padding: 15px 0 10px 0;
    font-size: 15px;
    color: gray;
    letter-spacing: .5px;
}
.description1 .card-body .card-title{
    color: black;
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: .5px;
}
.fa-hotel{
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 10px;
    padding-top: 23px;
    color: orange;
}
.offerts{
    filter: brightness(88%);
}
.offerts h2{
    padding: 10px 0 50px 13px;
    letter-spacing: 4px;
}
.offerts img{
    position: relative;
    border-radius: 0;
}
.offerts .card .card-body{
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    padding: unset;
}
.offerts .card .card-title{
    background-color: orange;
    border: unset;
    color: white;
    padding: 5px 7px;
    letter-spacing: 1.5px;
    border-radius: 3px;
}
.offerts .card .card-text{
    margin: 0;
    font-size: 19px;
}
.offerts .card .adress{
    font-size: 15px;
}
.offerts .card .card-body .properties{
    width: 100%;
    background-color: orange;
    padding: 9px 15px 9px 15px;
    font-size: 13px;
    position: absolute;
    display: none;
    opacity: 0;
}
.offerts .card .card-body .corp{
    padding: 15px;
    width: 100%;
}
.card:hover #properties{
    animation-name: example;
    animation-direction: normal;
    animation-duration: 1s;
    opacity: 1;
    display: block;
}
.card:hover .card-body{
    animation-name: example2;
    animation-direction: normal;
    animation-duration: 0.3s;
    bottom: 17.7%;
}
@keyframes example {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes example2 {
    from {bottom: 0;}
    to {bottom: 17.7%;}
}
nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav .page-item a{
    margin: 50px 0;
    color: black;
    background-color: #FFFFFF;!important;
    border-radius: 50px;!important;
    width: 50px;
    height: 50px;
    border: 0.1px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
nav .page-item a:hover {
    color: black;
    background-color: #FFFFFF;!important;
    border-radius: 50px;!important;
    width: 50px;
    height: 50px;
    border:1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#active-pagination{
    color: white;
    background-color: orange;
    border-color: orange;
}
.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.our-Services{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.our-Services .card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 5px;
}
.our-Services .card i{
    padding-top: 20px;
    font-size: 50px;
    color: darkorange;
}
.our-Services .card-body p{
    font-size: 20px;
    letter-spacing: 1px;
}
.our-Services .card-body a{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    letter-spacing: 1.3px;
}
.our-Btogs span{
    font-size: 13px;
    color: gray;
    letter-spacing: 0.6px;
}
.our-Btogs a{
    text-decoration: none;
    color: orange;
    font-size: 20px;
}
.our-Btogs .card-text{
    font-size: 15px;
    color: gray;
    padding-top: 10px;
}
.our-Btogs .card, .our-Agents .card{
    width: 100%;
    border-radius: unset;
    border: unset;
}
.our-Agents img{
    clip-path:circle(40%);
}
.our-Agents .card-body{
    text-align: center;
}
.our-Agents img{
    width: 80%;
    height: auto;
}
.our-Agents i{
    padding-left: 7px;
    padding-right: 7px;
}
.our-Agents .nextButt{
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nextButt button{
    width: 30px;
    height: 5px;
    background-color: darkgray;
    border: unset;
    margin: 5px;
    outline: none;
}
.footer{
    padding: 90px;
    background-color: #333333;
    color: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
}
.footer hr{
    border: 1px solid white;
    width: 13%;
    margin-left: 0;
}
.footer .about p{
    text-align: start;
    font-size: 15px;
    color: darkgray;
}
.footer h6{
    letter-spacing: 3px;
    font-size: 15px;
}
.footer td{
    padding: 5px 83px 5px 0;
    font-size: 15px;
    color: darkgray;
}
.footer .follow i{
    color: darkgray;
    font-size: 15px;
    padding-right: 35px;
}
.WideRange{
    background-color: darkorange;
    height: 17vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 90px;
    margin-top: 100px;
    color:antiquewhite;
}
.WideRange .col-md-4{
    display: flex;
    justify-content: center;
}
.WideRange button{
    width: 350px;
    height: 70px;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: unset;
    outline: none;
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}
.WideRange button:hover {
    animation-name: example1;
    animation-duration: .5s;
    background-color: black;
    border-color: black;
}
@keyframes example1 {
    from {background-color: darkorange;
        border-color: white;}
    to {background-color: black;
        border-color: black;}
}